* {
    font-family: "Arial";
    
}

h2 {
    margin: 20px;
}

nav ul{
    background-color: #191919;
    overflow: hidden;
    list-style: none;
    padding: 0px;
}

nav li{
    float: left;
}

nav a{
    color: aliceblue;
    padding: 20px;
    display: block;
    text-decoration: none;
}

#banner{
    width: 100%;
}

nav a:hover{
    background-color: darkblue;
}